{{ define "main" }}
<main>
    <header>
        <h1>{{ .Site.Data.zen.meta.title }}</h1>
    </header>

    <!-- Concise list -->
    <ol>
        {{ range .Site.Data.zen.items }}
        <li>
            <a href="#{{ .id }}">{{ .title }}</a>
        </li>
        {{ end }}
    </ol>

    <!-- Detailed explanations -->
    {{ range .Site.Data.zen.items }}
    <section id="{{ .id }}">
        <h2>{{ .title }}</h2>

        {{ if .python }}
        <span class="badge python">Python</span>
        {{ end }}
        {{ if .devops }}
        <span class="badge devops">DevOps</span>
        {{ end }}

        <p>{{ .description | markdownify }}</p>
    </section>
    {{ end }}


    <section>
        <p>The Zen of DevOps. Inspired by <a href="https://peps.python.org/pep-0020/">The Zen of Python</a>. Additional
            <a href="/about/">info</a>.
        </p>
    </section>
</main>
{{ end }}